/*
 * @Course: SDEV 450 ~ Java Programming III
 * @Author Name: Christopher K. Dierolf, Thomas Muck, Neil Hart, Stephen Graybeal
 * @Assignment Name: Expression package is undefined on line 9, column 24 in Templates/Other/CascadeStyleSheet.css.
 * @Date: Sep 24, 2019
 * @Description: CSS - DashboardView CSS File
 */
.root{
    -fx-background-color: linear-gradient(to bottom, #99773D, #111111);
    
}

.sizeMenu {
    -fx-border-color: #20262b;
    -fx-border-size: 5px;
}

.label {
    -fx-text-fill: #FFFFFF;
    -fx-font: 30px 'Arial'
}

.eventLabels {
    -fx-text-fill: #000000;
    -fx-font: 15px 'Arial'
}

.createAccountTextButton {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font: 12px 'Arial'
}

#smallEventLabels {
    -fx-text-fill: #FFFFFF;
    -fx-font: 14px 'Arial'
}

#warningLabel {
    -fx-text-fill: red;
    -fx-font: 12px 'Arial';
}
#shiny-orange {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

#dark-blue {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

#titleText {
    -fx-font-size: 50px 'Arial';
    -fx-text-fill: linear-gradient(to bottom, #1f2429, #20262b);
}


.ctrlButton:hover {
    -fx-text-fill: #99773D;
}
.ctrlButton:pressed {
    -fx-text-fill: #FFFFFF;
}
