/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/** 
 * @Course: SDEV 450 ~ Java Programming III
 * @Author Name: Christopher K. Dierolf
 * @Assignment Name: Expression package is undefined on line 9, column 24 in Templates/Other/CascadeStyleSheet.css.
 * @Date: Oct 6, 2019
 * @Description: CSS - Ticket Component CSS
 */

.root {
    -fx-background-color: linear-gradient(to bottom, #1f2429 20%, #191d22 );
}

#titleLabel {
    -fx-text-fill: #99773D;
    -fx-font: 16px 'Arial';
}

#dataLabel {
    -fx-text-fill: #ffffff;
    -fx-font: 16px 'Arial';
}
#detailsLabel {
    -fx-text-fill: #FFFFFF;
    -fx-font: 18px 'Arial';
}

#shiny-orange {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

